<!-- <div> -->
<nav class="nav affix"> 
    <div class="container">
        <div class="logo">
            <a routerLink="/home">
                Velislav Chavdarov
            </a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <li *ngIf="isAuth"><a routerLink="/section/gallery"> Gallery </a></li>
                <li *ngIf="isAuth"><a routerLink="/section/blog">Blog</a></li>
                <li *ngIf="isAuth"><a routerLink="/section/events">Events</a></li>
                <li *ngIf="!isAuth"><a routerLink="/user/register">Register</a></li>
                <li *ngIf="!isAuth"><a routerLink="/user/login">Login</a></li>
                <li *ngIf="isAuth"><a routerLink="/user/profile">Profile</a></li>
                <li *ngIf="isAuth"><a routerLink="/create/photo">Create photo</a></li>
                <li *ngIf="isAuth"><a routerLink="/create/blog">Create blog</a></li>
                <li *ngIf="isAuth"><a routerLink="/section/create">Create</a></li>

                <li *ngIf="isAuth"><a type="button" (click)="tryLogout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- </div> -->
