<!-- Grid row -->
<div class="row gallery-container">

    <!-- Grid column -->
    <div class="col-lg-4 col-md-12 mb-4 display-center">
      <a><img class="img-fluid img-thumbnail" src="https://mdbootstrap.com/img/screens/yt/screen-video-1.jpg" alt="video"></a>
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="col-lg-4 col-md-12 mb-4 display-center">
      <a><img class="img-fluid img-thumbnail" src="https://mdbootstrap.com/img/screens/yt/screen-video-1.jpg" alt="video"></a>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-4 col-md-12 mb-4 display-center">
      <a><img class="img-fluid img-thumbnail" src="https://mdbootstrap.com/img/screens/yt/screen-video-1.jpg" alt="video"></a>
    </div>
    <!-- Grid column -->
  </div>
