<div class="container">
    <div class="row">
        <!-- Col -->
        <div class="col-lg-6" *ngFor="let selection of templateInfo">
            <a class="select-create" routerLink="{{selection.title}}">
                <div class="create-card rain">
                    <div class="top" [ngStyle]="{'background':'url(' + selection.imageUrl + ') no-repeat center'}">
                        <div class="wrapper">
                            <p class="title">
                                <span class="title-value">Create {{selection.title}}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- /Col -->
       
    </div>
</div>