<div class="container">
    <div class="row">
        <!-- Col -->
        <div class="col-lg-4">
            <a class="select-create" routerLink="blog">
                <div class="create-card rain">
                    <div class="top">
                        <div class="wrapper">
                            <p class="title">
                                <span class="title-value">Create blog</span>
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- /Col -->
        <!-- Col -->
        <div class="col-lg-4">
            <div class="create-card rain">
                <div class="top">
                    <div class="wrapper">
                        <p class="title">
                            <span class="title-value">Create blog</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Col -->
        <!-- Col -->
        <div class="col-lg-4">
            <div class="create-card rain">
                <div class="top">
                    <div class="wrapper">
                        <p class="title">
                            <span class="title-value">Create blog</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Col -->
    </div>
</div>