<ng-template [ngIf]="gallery">
  <h1 class="text-center my-2"> Gallery </h1>
  <div class="container mt-2">
    <div class="row">
      <div class="col-md-4 col-sm-6 my-2" *ngFor="let photo of gallery">
        <a routerLink="/section/gallery/{{photo.id}}">
          <div class="card card-block">
            <img src="{{photo.imageUrl}}" alt="photo">
            <h5 class="card-title mt-3 mb-3 text-center"> • {{photo.title}} • </h5>
          </div>
        </a>
      </div>
    </div>
  </div>
</ng-template>

<ng-template [ngIf]="gallery">
  <app-loader></app-loader>
</ng-template>