<!-- <ng-template [ngIf]="!gallery">
  <app-loader></app-loader>
</ng-template> -->

<ng-template [ngIf]="gallery">
  <div class="col-sm-12">
    <div class="text-center">
      <h1>Gallery</h1>
    </div>
    <div class="container">
      <div class="card-columns">
        <div class="card md-4" *ngFor="let photo of gallery">
          <!-- <a routerLink="/gallery/{{gallery.id}}"> -->
            <a routerLink="/gallery/">
            <img class="card-img-top" src="{{photo.imageUrl}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{ photo.title }}</h5>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</ng-template>