<ng-template [ngIf]="!blog">
  <app-loader></app-loader>
</ng-template>


<ng-template [ngIf]="blog">
  <!-- Page Content -->
  <div class="container">
    <!-- Heading Row -->
    <div class="row align-items-center my-5">
      <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="{{blog.imageUrl}}" alt="image">
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-5">
        <h1 class="font-weight-light">{{blog.title}}</h1>
        <p>{{blog.description}}</p>
        <div class="text-center">
          <a class="btn btn-primary btn-lg btn-block" routerLink="/section/blog"> Back to blog section! </a>
        </div>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Call to Action Well -->
    <!-- <div class="card text-white bg-secondary my-5 py-4 text-center">
      <div class="card-body">
        <p class="text-white m-0"> If u want to see the whole functionality - register and login in the site!</p>
      </div>
    </div>-->
  </div> 
  <!-- /.container -->
</ng-template>