<div class="card-deck events-container">
    <!-- start -->
    <div class="card h-100">
        <div class="imageContainer"></div>
      <div class="card-body text-center">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer text-center">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <!-- end -->
    <div class="card h-100">
        <div class="imageContainer"></div>
      <div class="card-body text-center">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer text-center">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card h-100">
        <div class="imageContainer"></div>
      <div class="card-body text-center">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer text-center">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>