.imageContainer {
    width: 100%;
    height: 70vh;
    background-image: url("https://image.winudf.com/v2/image/Y29tLmNvZGVGYWN0b3J5LmFycm93X3NjcmVlbl8xXzE1Mjc0MzcyNjhfMDcw/screen-1.jpg?fakeurl=1&type=.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.imageContainer:hover {
    filter: brightness(0.4);
    height: 72vh;
}

.events-container {
    margin: 3% 0;
    
}

.card {
    border: solid 1px;
}

.card:hover {
    cursor: pointer;
}