.container {
    margin-top: 6vh;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border: none;
    text-align: center;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

a {
    color: initial;
}

a:hover {
    text-decoration: initial;
}

.card-img-top {
    height: 250px;
    width: 100%;
}

.latest-photos-title {
    border-top: 1px solid;
    border-bottom: 1px solid;
    text-transform: uppercase;
}