<ng-template [ngIf]="!currentUser">
    Loading...
</ng-template>

<div class="container" *ngIf="currentUser">
    <div class="row my-2">
        <div class="col-lg-8 order-lg-2 text-center py-4">
            <h5 class="mb-3">User Profile</h5>
            <div class="row">
                <div class="col-md-12">
                    <h6>Name</h6>
                    <p>
                        {{currentUser.name}}
                    </p>
                    <h6>About</h6>
                    <p>
                        Web Designer, UI/UX Engineer
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mt-4 order-lg-1 text-center">
            <img src="//placehold.it/150" class="mx-auto img-fluid img-circle d-block" alt="avatar">
            <!-- <h6 class="mt-2">Upload a different photo</h6>
            <label class="custom-file">
                <input type="file" id="file" class="custom-file-input">
                <span class="custom-file-control">Choose file</span>
            </label> -->
        </div>
    </div>
    <div class="row mt-4" *ngIf="isTherePhotosYet">
        <h3 class="col-12 my-3 text-center latest-photos-title"> Top photos</h3>
        <div class="card-columns text-center">
            <div class="card" *ngFor="let photo of currentUserPhotos">
                <a routerLink="/section/gallery/{{photo.id}}">
                    <img class="card-img-top" src="{{photo.imageUrl}}" alt="card image">
                    <div class="card-body">
                        <h5 class="card-title"> • {{ photo.title }} • </h5>
                        <p class="card-text">
                            <small class="text-muted"> {{ photo.likes }} likes </small>
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row mt-4" *ngIf="!isTherePhotosYet">
        <h3 class="col-12 my-3 text-center latest-photos-title">No user's photos found</h3>
    </div>
</div>