<div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
    <div class="wrapper wrapper--w780">
        <div class="card card-3">
            <div class="card-heading"></div>
            <div class="card-body">
                <h2 class="title"> Login</h2>
                <form method="POST" [formGroup]="loginForm" (ngSubmit)="tryLogin()">
                    <div class="input-group">
                        <input class="input--style-3" type="email" placeholder="Email" formControlName="email">
                    </div>
                    <div class="input-group">
                        <input class="input--style-3" type="password" placeholder="Password" formControlName="password">
                    </div>
                    <div class="p-t-10">
                        <button class="btn btn--pill btn--green" type="submit" [disabled]="loginForm.invalid">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>