<ng-template [ngIf]="!blogs">
  <app-loader></app-loader>
</ng-template>

<ng-template [ngIf]="blogs">
  <div class="container">
    <h1 class="text-center"> Blog </h1>
    <div class="container">
      <div class="card-columns">
        <div class="card" *ngFor="let blog of blogs">
          <a routerLink="/section/blog/{{blog.id}}">
            <img class="card-img-top" src="{{blog.imageUrl}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"> • {{ blog.title }} •</h5>
              <p class="card-text descript">
                {{ blog.description }}
              </p>
              <p class="card-text">
                <small class="text-muted"> author {{blog.author}} | created {{ blog.date }}</small></p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</ng-template>