<div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
    <div class="wrapper wrapper--w780">
        <div class="card card-3">
            <div class="card-body">
                <h2 class="title">Registration</h2>
                <form [formGroup]="registerForm">
                    <div class="input-group">
                        <input class="input--style-3" type="text" placeholder="Full Name" formControlName="name">
                    </div>
                    <div>
                        <div class="input-group">
                            <input class="input--style-3" type="email" placeholder="Email" formControlName="email">
                        </div>
                        <div class="alert alert-danger alert-dismissible fade show errs" *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').touched">
                            <strong>Warning!</strong> Valid email is required.
                        </div>
                    </div>
                    <div formGroupName="passwords">
                        <div class="input-group">
                            <input class="input--style-3" type="password" placeholder="Password"
                                formControlName="password">
                        </div>
                        <div class="input-group">
                            <input class="input--style-3" type="password" placeholder="Re-password"
                                formControlName="repeatPassword">
                        </div>
                        <div class="alert alert-danger alert-dismissible fade show errs" *ngIf="registerForm.get('passwords')?.errors?.passwordsMatch && registerForm.get('passwords').touched">
                            <strong>Warning!</strong> Passwords are not matched.
                        </div>
                    </div>
                    <div class="input-group">
                        <input class="input--style-3" type="text" placeholder="Phone" formControlName="phone">
                    </div>
                    <div class="p-t-10">
                        <button class="btn btn--pill btn--green" [disabled]="registerForm.invalid">Submit</button>
                    </div>
                </form>
            </div>
            <div class="card-heading"></div>
        </div>
    </div>
    <!-- {{registerForm.value | json}} -->
</div>