<ng-template [ngIf]="!events">
  loading..
</ng-template>

<ng-template [ngIf]="events">
  <div class="card-deck events-container">
  <!-- start -->
  <div class="card h-100" *ngFor="let event of events">
    <div class="imageContainer" [ngStyle]="{'background-image':'url(' + event.imageUrl + ')'}"></div>
    <div class="card-body text-center">
      <h5 class="card-title">{{ event.title }}</h5>
      <p class="card-text">{{ event.description }}</p>
    </div>
    <div class="card-footer text-center">
      {{ event.date }}
    </div>
    <div class="card-footer text-center" *ngIf="event.isUserAuthor">
      <button class="btn btn-danger btn-block" (click)="delete(event)"> Delete event </button>
    </div>
    <div class="card-footer text-center" *ngIf="!event.isUserAuthor">
      <button class="btn btn-success btn-block" *ngIf="!event.isUserEnrolledForThisCourse" (click)="enroll(event)"> Enroll for the event </button>
      <button class="btn btn-warning btn-block" *ngIf="event.isUserEnrolledForThisCourse" (click)="unenroll(event)"> Unenroll for the event </button>
    </div>
  </div>
  <!-- end -->
</div>
</ng-template>


